<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <title>ProgoBlogs</title>
    <link rel="stylesheet" href={{url_for('static',filename="Blogs.css" )}}>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

        header.hero .container .top-left {
            word-spacing: normal;
            font-family: 'Open Sans';
            font-size: 10vh;
            position: relative;
            text-align: center;
            color: #c4c4c4;
            position: absolute;
            top: 20vh;
            left: 12vw;
        }
    </style>
    <link rel="icon" href="static\images\newprogro.jpeg" type="image/x-icon">
</head>

<body>

    <nav>
        <div class="container nav-wrapper">
            <div class="brand">
                <img src="../static/images/progro1.png">
            </div>

            <ul class="nav-list" style="text-decoration: none;">
                <li class="active">
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="#" style="color:black">Features</a>
                    <ul class="dropdown-list">
                        <li><a href="/crop/">Crop Prediction</a></li>

                        <li><a href="/fertilizer/">Fertilizers</a></li>
                        <li><a href="/agrihub/">Agri-Hubs</a></li>
                        <li><a href="/agrinews/">News Update</a></li>
                        <li><a href="/blogs/">Announcements</a></li>


                    </ul>
                </li>

                <li class="active">
                    <a href="/insightsadmin/">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="big-deal">
        <div class="text">ANNOUNCEMENTS</div>
    </section>


    <br>
    <section>

        {%for msg in info%}<div class="card" style="box-sizing: border-box; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    font-size: large;
    padding: 20px;
    text-align: center;
    background-color: #b9fcbd;
    font-family: Arial, Helvetica, sans-serif;">
            {{msg}}
        </div><br>{%endfor%}</br></section>

</body>

</html>