<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <title>Fertilizer</title>
    <link rel="stylesheet" href={{url_for('static',filename="fertilizer.css")}}>
    <link rel="icon" href="static\images\newprogro.jpeg" type="image/x-icon">
</head>

<body>
    <nav>
        <div class="container nav-wrapper">
            <div class="brand">
                <img src="../static/images/progro1.png">
            </div>

            <ul class="nav-list" style="text-decoration: none;">
                <li class="active">
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="#" style="color:black">Features</a>
                    <ul class="dropdown-list">
                        <li><a href="/crop/">Crop Prediction</a></li>
                        <li><a href="/fertilizer/">Fertilizers</a></li>
                        <li><a href="/agrihub/">Agri-Hubs</a></li>
                        <li><a href="/agrinews/">News Update</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="bg-img">
        <br><Br>
        <div class="p">
            <br><br>
            <div class="title"
                style="font-size: 30px; text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">
                Get informed advice on fertilizer based on soil!
                <hr>
            </div><br>
        <form method="POST", action= "{{url_for('ferpre')}}">
            <div class="form">
                <div class="inputfield">
                    <label for="points"
                        style="font-family: Georgia, 'Times New Roman', Times, serif;">Nitrogen</label><br>
                    <input type="number" id="points" name="n" step="0.1" class="input" max="42" min="0" required
                        placeholder="Enter the value here..." style="font-family:'poppins';">
                </div>
                <div class="inputfield">
                    <label for="points"
                        style="font-family: Georgia, 'Times New Roman', Times, serif;">Phosphorous</label>
                    <input type="number" id="points" name="p" step="0.1" class="input" max="42" min="0" required
                        placeholder="Enter the value here..." style="font-family:'poppins';">
                    <br>
                </div>
                <div class=" inputfield">
                    <label for="points"
                        style="font-family: Georgia, 'Times New Roman', Times, serif;">Pottasium</label><br>
                    <input type="number" id="points" name="k" step="0.1" class="input" max="19" min="0" required
                        placeholder="Enter the value here..." style="font-family:'poppins';">
                </div>
                <div class=" inputfield">
                    <label for="points"
                        style="font-family: Georgia, 'Times New Roman', Times, serif;">Temperature</label><br>
                    <input type="number" id="points" name="t" step="0.1" class="input" max="38" min="0" required
                        placeholder="Enter the value here..." style="font-family:'poppins';">
                </div>
                <div class=" inputfield">
                    <label for="points"
                        style="font-family: Georgia, 'Times New Roman', Times, serif;">Humidity</label><br>
                    <input type="number" id="points" name="h" step="0.1" class="input" max="72" min="0" required
                        placeholder="Enter the value here..." style="font-family:'poppins';">
                </div>
                <div class=" inputfield">
                    <label for="points"
                        style="font-family: Georgia, 'Times New Roman', Times, serif;">Moisture</label><br>
                    <input type="number" id="points" name="m" step="0.1" class="input" max="65" min="0" required
                        placeholder="Enter the value here..." style="font-family:'poppins';">
                </div>
                <div class="inputfield">
                    <label style="font-family: Georgia, 'Times New Roman', Times, serif;">Crop you want to grow</label>
                    <br>
                    <div class="custom_select" style="font-family:'poppins';">
                        <select style="color: rgb(0, 0, 0); font-family: 'poppins';" name="c">
                            <option value="0">Select</option>
                            <option value="1">Sugarcane</option>
                            <option value="2">Maize</option>
                            <option value="3">Tobacco</option>
                            <option value="4">Paddy</option>
                            <option value="5">Barley</option>
                            <option value="6">Wheat</option>
                            <option value="7">Millets</option>
                            <option value="8">Oil Seeds</option>
                            <option value="9">Pulses</option>
                            <option value="10">Ground Nuts</option>
                            <option value="11">Cotton</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="inputfield">
                    <input type="submit" value="Predict" class="btn"
                        style="font-family: Georgia, 'Times New Roman', Times, serif;">
                </div><Br>
                <center> <h1> {{ m }} </h1> </center>
            </div>
            </div><br><br>
        </form>
    </div>
</body>

</html>