<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href={{url_for('static',filename="insightsadmin.css" )}}>
    <title>Admin Login</title>
    <link rel="icon" href="static\images\newprogro.jpeg" type="image/x-icon">
</head>

<body>
    <div class="bg-img">
        <nav>
            <div class="container nav-wrapper">
                <div class="brand">
                    <img src="../static/images/progro1.png">
                </div>

                <ul class="nav-list" style="text-decoration: none;">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="#" style="color:black">Features</a>
                        <ul class="dropdown-list">
                            <li><a href="/crop/">Crop Prediction</a></li>

                            <li><a href="/fertilizer/">Fertilizers</a></li>
                            <li><a href="/agrihub/">Agri-Hubs</a></li>
                            <li><a href="/agrinews/">News Update</a></li>
                            <li><a href="/blogs/">Announcements</a></li>


                        </ul>
                    </li>




                </ul>
            </div>
        </nav>
        <div id="logreg-forms">
            <form class="form-signin" action="/formsignin/" method="post">
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
                <input type="email" id="email" name="Email" class="form-control" placeholder="Email address" required=""
                    autofocus="">
                <input type="password" id="pwd" name="Password" class="form-control" placeholder="Password" required="">

                <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign
                    in</button><br>
                <p class="note" style="align-items:center; font-family:open-sans">Note: This feature is only accessible
                    by administrator.</p>
            </form>
            <br>

        </div>
        <p style="text-align:center">
            <a href="http://bit.ly/2RjWFMfunction toggleResetPswd(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle() // display:block or none
}

function toggleSignUp(e){
    e.preventDefault();
    $('#logreg-forms .form-signin').toggle(); // display:block or none
}
" </p>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>
                <script src={{url_for('static',filename="insightsadmin.js" )}}></script>
    </div>
</body>

</html>