<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <title>14-35-14</title>
    <link rel="stylesheet" href={{url_for('static',filename="14-35-14.css")}}>
</head>

<body>
    <nav>
        <div class="container1 nav-wrapper">
            <div class="brand">
                <img src="../static/images/progro1.png">
            </div>

            <ul class="nav-list">
                <li class="active">
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="#" style="color:black">Features</a>
                    <ul class="dropdown-list">
                        <li><a href="/crop/">Crop Prediction</a></li>
                        <li><a href="/disease/">Disease Prediction</a></li>
                        <li><a href="/fertilizer/">Fertilizers</a></li>
                        <li><a href="/blogs/">Announcements</a></li>
                        <li><a href="/insights/">Agri-Insights</a></li>
                        <li><a href="/agrihub/">Agri-Hubs</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>

    <div class="bg-img">
        <br> <br> <br>

        <div class="container ">
            <div class="title ">14-35-14<br></div>
            <br>
            <p1> 14-35-14 is a complex fertiliser containing all major nutrients viz. Nitrogen, Phosphorous and Potassium.<br>

                The only complex having highest total nutrient content among the NPK complex fertilisers. (Total nutrients are 63%).<br>
                
                N&P are available in 1:2.5 ratio as in the case of DAP. But GROMOR 14-35-14 has 14% of Potassium additionally.<br>
                
                It is the highest Phosphate (35%) containing complex compared to any other NPK complexes.</p1><br>
           
          
          <br> <br> <h5>Used for:- </h5>  
             <p2>14-35-14 is an ideal complex particularly for Rice, Cotton, groundnut, chillies, Soya bean, Potato and other commercial crops which require high Phosphate initially.<br> However for chlorine sensitive crops like tobacco and grapes, application of GROMOR 14-35-14 is not advisable.</p2><br>
             <br> <h5>Usage Instructions :- </h5>
             <p2>
                NPK ratio 1:2.5:1 is a scientific combination for basal application to all crops and all the nutrients are chemically combined and interaction is synergic.</p2>
           <br> 
            </div>
        </div>
    </div>

</body>

</html>